@font-face {
    font-family: 'Zabars';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Zabars.ttf');
}

body {
    margin: 0px;
    height: 100vh;
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 24px;
    color: #754C24;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('img/desert.png');
    background-size: cover;
}

.display-none {
    display: none !important;
}

.visibility-none {
    visibility: hidden;
}

h1 {
    color: #821B08;
    text-shadow: 1px 2px 4px #FFDB00;
    font-size: 48px;
}

.stage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game {
    position: relative;
    display: flex;
}

canvas {
    position: block;
    background-color: black;
}

.overlay {
    width: 720px;
    height: 480px;
    position: absolute;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}



.panel {
    position: relative;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.panel button {
    margin: 16px;
    padding: 15px 32px;   
    font-family: 'Zabars';
    font-size: 48px;
    letter-spacing: 2px;;
    color:#821B08;
    text-shadow: 1px 2px 4px #FFDB00;
    box-shadow: 1px 2px 4px #FFDB00;
    background-color: #FF9247;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50px;
    border: 5px solid #821B08;
}

.panel span {
    box-sizing: border-box;
    width: 100%;
    margin: 16px;
    padding: 15px;   
    font-family: 'Zabars';
    font-size: 72px;
    letter-spacing: 2px;
    text-align: center;
    color:#821B08;
    text-shadow: 1px 2px 4px #FFDB00;
    background-color: #FF9247;
    border: 5px, 0px, 5px, 0px solid #821B08;
    
}

.empty {
    width: 50px;
    height: 50px;
}

#introStart {
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: 720px, 480px;
    background-repeat: no-repeat;
    background-color: #994409;
}


#outroLost {
    background-image: url('img/9_intro_outro_screens/game_over/oh no you lost!.png');
    background-size: 720px, 480px;
    background-repeat: no-repeat;
}