@font-face {
    font-family: 'Zabars';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Zabars.ttf');
}

body {
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 24px;
    color:#754C24;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/desert.png');
    background-size: cover;
}

canvas {
    background-color: black;
}